
  
.block-1{
    border: 1px solid black;
    /* padding-left : 10px;
    padding-right:10px;*/
    padding: 0 10px 10px 10px
}
a{
    color:black
}
.block-3{
    border: 1px solid black;
    /* padding-left : 10px;
    padding-right:10px;*/
    padding: 0 10px 10px 10px
}